<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Chirp</title>
		<script type="text/javascript" src='http://ajax.googleapis.com/ajax/angularjs/1.2.0/angular.min.js'></script>
		<script type="text/javascript" src='javascripts/chirpApp.js'></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>

	<body ng-app='chirpApp'>
		<div id='main' ng-controller='mainController'>
			<div class="col-md-offset-2 col-md-8">
				<div class='clearfix'>
			<form ng-Submit='post()'>
				<input type='text' placeholder='Your name' ng-model='newPost.created_by'/>
				<textarea required maxlength='200' rows='3' placeholder='Say something' ng-model='newPost.text'></textarea>
				<input class='button' type='submit' value='Chirp!'/>
			</form>
			<div id='post-stream'>
				<h4>Chirp Feed</h4>
					<div class='post' ng-repeat="post in post | orderBy:'created_at' :true" ng-class-odd="'odd'" ng-class-even="'even'">
					<p>{{post.created_by}} says {{post.text}} at {{post.created_at}}</p>
					<small>Posted by @{{post.created_by}}</small>
                	<small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
					</div>
				<!-- TO BE POPULATED BY ANGULAR -->
					</div>
				</div>
			</div>
		</div>
	</body>
</html>